.btnwrper{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.kikiki{
display: flex;
justify-content: center;
padding-top: 15px;
}
.kik{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.tyyt{
 height: 350px;
}
.kyky{
  
  display: flex;
  justify-content: center;
}